:root {
  --bg-color: #09011b;
  --second-bg-color: #f35e8f;
  --third-bg-color: rgb(252, 39, 120);
  --fourth-bg-color: rgb(3, 3, 37);
  --text-color: #ededed;
  --second-text-color: rgb(136, 8, 57);
  --main-color: #822794;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--fourth-bg-color);
  border-radius: 10px;
  padding: 30px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 15px var(--main-color);
}

h2 {
  color: var(--main-color);
  text-align: center;
}

.instructions {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
}

.rules {
  font-size: 0.8rem;
  color: #bbb;
  margin-top: 5px;
}

#match-status {
  text-align: center;
  font-weight: bold;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: gray;
  color: white;
  font-weight: bold;
  cursor: not-allowed;
  transition: background-color 0.3s ease;
}

button.active {
  background-color: var(--second-bg-color);
  cursor: pointer;
}
